body {
  background-color: rgb(250, 248, 248);
  color: #272727;
  font-family: "Graphik Web", "Work Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.devices {
  display: flex;
}

.device__img {
  max-width: 100%;
}
